.poly {
  aspect-ratio: 1.15;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  grid-area: 1/1;
  object-fit: cover;
  width: 340px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.gap {
  gap: 5px;
}
